
@{
    ViewBag.Title = "Hakkimda";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}



<html>
<body>
    <br>
    <img src="http://boostelearning.com/wp-content/uploads/2015/12/night-sky.png" alt="ist" width="800" height="250">

    <center>
        <font color="#339966">
            <h2>
                <p>23 Haziran 1995 tarihinde Samsun/Çarşamba'da doğdum.</p>
                <p>Lise eğitimime 2009 yılında Edirne Lisesi'nde başladım.</p>
                <p>Şuanda 2013 yılında başladığım Trakya Üniversitesi Bilgisayar Mühendisliği bölümünde eğitimime devam etmekteyim.</p>
                <p>Eş zamanlı olarak Eskişehir Anadolu Üniversitesi'nde de İşletme bölümü okumaktayım. </p>
            </h2>
        </font>
    </center> 
</body>
</html>
