
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}



<html>
<body>

    <img src="http://img-fotki.yandex.ru/get/5704/svetlera.34/0_503d2_c5450b84_M" width="100" height="100">   <center><h2><font color="#663333">MERHABA</font></h2></center>
    <center><p><font color="#339966"><b> Şuanda üzerinde bulunduğunuz sayfa kişisel bir dünyanın temsilcisidir. </b></font></p></center>
    <center> <p><font color="#339966"> <b>  Web sayfamda yer alan tüm bilgi, doküman, fotoğraf ,metin vb. içerik, izin alınmadan ve kaynak gösterilmeden kullanılamaz, kopyalanamaz, işlenemez. Tüm hakları saklıdır.</b></font></p> </center>


</body>
</html>


