
@{
    ViewBag.Title = "İletisim";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}


<html>
<body>

    <img src="http://www.baltasgrubu.com/images/Hizmetlerimiz/temeli-iletisim-becerileri-ve-empatik-anlayis-gelistirme-baltas-grubu.jpg_3615309.jpg"  width="800" height="250">
    <center>
        <font color="#000033"><h2><b>Telefon:</b></h2></font>
        <font color="#339966"><h2> <b>0535 659 32 98 </b></h2> </font>
        <font color="#000033"><h2><b> email:</b></h2></font>
        <font color="#339966"><h2><b> nigrenalid@hotmail.com </b></h2></font>
    </center>  

</body>
</html>
