
@{
    ViewBag.Title = "Projeler";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<html>
<body>

    <img src="http://cache4.asset-cache.net/xd/463210692.jpg?v=1&c=IWSAsset&k=2&d=62CA815BFB1CE48049E952E5B6BCA3D1D6D7111452E48A174B3EFA1C00B7D5AEF4724EAE07FEE7C0"  width="800" height="250">
    <center>
        <font color="#000033"><h2><p> --> Diyetisyen Takip Programı : </p></h2></font>
        <font color="#339966"><h2><p>VB.NET, MSSQL</p> </h2></font>
        <font color="#000033"><h2><p> --> Eczane Otomasyonu : </p></h2></font>
        <font color="#339966"><h2><p>c# , ACCESS</p></h2></font>
        <font color="#000033"><h2><p> --> Sinema Otomasyonu :  </p></h2></font>
        <font color="#339966"><h2><p>c# , MSSQL</p></h2> </font>
    </center>
</body>
</html>


